*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-image: url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.text{
    color:white;
    text-align: center;
    padding:800px;
    
}
.description{
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}
.btn-primary{
    height: 64px;
    border: 0;
    border-radius: 5px;
    background-color:#FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: white;
    
}
/* donate today */
.donate{
    text-align: center;
    padding: 80px 150px;
   
}

.section-title{
 
    font-size: 35px;
    font-weight: 700;
 
 }
 .section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
 /* button */
.btn {
    background-color: #FAFAFA;
    padding: 14px 50px;
    font-size: 16px;
    cursor: pointer;
    width: 135px;
    height: 123px;
    border: none;
  }
 
  .btn-info {
    border-color: #e2610b;
    background-color: rgb(244, 117, 210);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    width: 135px;
    height: 123px;
  }
  
  .info:hover {
    background: #2196F3;
    color: white;
  }
  .other{
    text-align: center;
    padding: 30px 150px;
    color: #757575;
  }
  /*our donate plan  */
  .donate-plan-container{
    display: flex;
    gap: 24px;
  }
  .donate-plan{
    background-color:white;
    box-shadow: 0px 6px 50px rgba(0, 0,0, 0.06);
    border-radius: 5px;
    padding: 30px;
  }
  .donate-plan-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .donate-plan-description{
    color: #474747;
  }
  /* banner */
  .banner{
    margin: 0 300px;
    display: flex;
    align-items: center;
 
}
.banner-title{
    font-weight: 400;
    font-size: 85px;
}
.banner-sub-title{
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}  
.banner1{
    margin: 0 200px;
    display: flex;
    align-items: center;
 
}
.banner1-title{
    font-weight: 700;
    font-size: 85px;
}
.banner1-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner1-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
} 
.container{
    background-color: bisque;
   height: 200px;
}
.container.input{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    margin-top: 200px;
}
.footer{
    background-color: black;
    text-align: center;
    padding: 10px 150px;
}
.footer-title{
    margin-top: 50px;
    font-size: 35px;
    font-weight: 700;
    color: red;
}
.footer-description{
    color: white;
}
   